$font-jua:'Jua', sans-serif;
@mixin flex-row {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
} 
header {
    position:fixed; left:0; top:0; z-index:999;
    height:100px;    
    width:100%; padding:0 15px; margin:0 auto;
    @include flex-row;
    background: linear-gradient(0deg, rgba(255, 255, 255,0.5), transparent);
    h1 { 
        width:150px;
        a {img{width:100%;}}
    }
    .right {
        @include flex-row;
        .app {
            color:#fff;
            margin-right:20px;
            display: block;
            font-family:$font-jua;
            border:2px solid #fff; border-radius: 20px;
            padding:15px 25px; 
        }
        .all_nav {
            span {
                border-radius: 5px;
                display:block;
                background:#fff;
                width:30px; height: 5px;
            }
            span:nth-child(1) {}
            span:nth-child(2) {margin:5px 0;}
            span:nth-child(3) {}
        }
    }
}//e:header
main {
    position:relative;
    .visual { 
        position:relative;
        height:100vh;
        overflow:hidden;
        .contents {
            color:#fff;
            width: 100%;
            padding-top:300px;
            position:relative;
            z-index: 110;
            text-align:center;
            h1 {
                line-height:1.5;
                font-family:$font-jua;
                font-size:3rem;
            }
            p {
                line-height:1.5;
                padding-bottom:70px;
            }
            a {
                font-family:$font-jua;
                font-size:1.5rem;
                padding:20px 90px;
                background:#fff;
                border-radius:50px;
            }
        }
        video {
            transform:translate(-50%, 0);
            width:130%;
            position:absolute;
            z-index:100; left:50%; top:0;
        }
        .page_down {position:absolute; z-index:110; width:100%; left:0; bottom:100px; text-align:center;}
    }
    .visual::after {
        content:''; display: block; width:100%; height:100%;
        background:linear-gradient(0deg, rgba(0,0,0,0.6), transparent);
        position:absolute; left:0; top:0; z-index:105;
    }
    .event_wrap {
        padding:80px 0;
        width: 1100px;
        margin:0 auto;
        h1 {font-size:3rem; line-height:1.5; font-family: $font-jua;}
        p {}
        .more {
            font-family: $font-jua;
            padding-top:10px;
            display:flex;
            flex-flow:row nowrap;
            align-items: center;
        }
        .slide_wrap {
            margin-top:80px;   
            .slide_container {
                display:grid;
                grid-template-columns:repeat(3,1fr);
                grid-template-rows:320px;
                grid-template-areas:'s1 s2 s3';
                .slide {
                    padding: 30px;
                    position:relative;
                    background: center;
                    border-radius: 20px;
                    h1 {
                        font-size:1.5rem; font-family:$font-jua; 
                        line-height:1.4;
                    }
                    p {}
                    a {position:absolute; bottom:10%;}
                }
                .slide1 {
                    background:#ffe552 url(../images/event_image_0_20221028085348_35465.png);
                    grid-area:s1;
                    background-size:90%;
                    background-position:right bottom;
                    background-repeat:no-repeat;
                }
                .slide2 {
                    margin:0 5px;
                    background:#b2e9de url(../images/event_image_0_20221028085704_61822.png);
                    grid-area:s2;
                    background-size:90%;
                    background-position:right bottom;
                    background-repeat:no-repeat;
                }
                .slide3 {
                    background:#ffcfd8 url(../images/event_image_3_20221105015010_49282.png);
                    grid-area:s3;
                    background-size:90%;
                    background-position:right bottom;
                    background-repeat:no-repeat;
                }
                }
            }
        }
    }//e:event_wrap
//e:main
